<div class="container-fluid border">

	<div class="row">
		<div class="pull-right">
			<a ng-click="EmployeeCreateCtrl.save()"  class="btn btn-default fa fa-check padder" title="Salva"><span>Salvar</span></a>
		</div>
	</div>

	<div class="row">
		<div class="row">
			<div class="col-md-4">
				<img src="http://lorempixel.com/200/200" class="img-circle image-co-create" alt="Cinque Terre" width="100" height="100">
			</div>
			<div class="col-md-8">
				<p class="m-t"></p>
				<input type="text" class="form-control" name="name" ng-model="EmployeeCreateCtrl.employee.name" placeholder="Nome" required>
				<p class="m-t"></p>
				<select class="form-control m-b" ng-value="office.id" ng-model="EmployeeCreateCtrl.employee.office" ng-options="office.name as office.name for office in EmployeeCreateCtrl.offices"></select>
				<p class="m-t"></p>
				<select class="form-control m-b" ng-model="EmployeeCreateCtrl.employee.sector" ng-options="sector.name as sector.name for sector in EmployeeCreateCtrl.sectors"></select>
			</div>
		</div>
		</br>


		<div class="row m-t">
			<div>
				<div class="panel-body">
					<div class="form-group">
						<textarea ng-maxlength="180" required="true" class="form-control" ng-model="EmployeeCreateCtrl.employee.biography" rows="6" placeholder="BIO"></textarea>
					</div>
				</div>
			</div>

			<label>Competências</label>
			<ui-select class="size" multiple tagging tagging-label="(custom 'new' label)" ng-model="EmployeeCreateCtrl.employee.skills" theme="bootstrap" ng-disabled="disabled" style="width: 300px;">

				<ui-select-match>{{$item}}</ui-select-match>

				<ui-select-choices repeat="skill in EmployeeCreateCtrl.availableSkills | filter:$select.search">
					{{skill}}
				</ui-select-choices>

			</ui-select>

			<div>
				Contatos
				<button ng-click="EmployeeCreateCtrl.newContact()" class="pull-right">Novo</button>
			</div>

			<div  ng-repeat="contact in EmployeeCreateCtrl.contacts" class="b-a">
				<div class="row">
					<div class="col-md-3">
				<span ng-show="contact.type == 'Telefone fixo'">
					<i class="fa fa-phone fa-2x"></i>
				</span>
					<span ng-show="contact.type == 'facebook'">
					<i class="fa fa-facebook fa-2x"></i>
				</span>
						</span>
					<span ng-show="contact.type == 'Email'">
					<i class="fa fa-envelope-o fa-2x"></i>
				</span>
					<span ng-show="contact.type == 'Linkedin'">
					<i class="fa fa-linkedin fa-2x"></i>
				</span>

					<span ng-show="contact.type == 'Telefone celular'">
					<i class="fa fa-mobile fa-2x"></i>
				</span>


					</div>


					<div class="col-md-3">
						<select class="form-control m-b" ng-change="EmployeeCreateCtrl.contacts[$index].type" ng-model="contact.type" ng-options="contact.title as contact.title for contact in EmployeeCreateCtrl.typeContacts"></select>
					</div>

					<div class="col-md-3 ">
						<p><input class="form-control" type="text" ng-model="EmployeeCreateCtrl.contacts[$index].value"> </p>
					</div>
					<div class="col-md-3 ">
						<a ng-click="EmployeeCreateCtrl.removeContact($index)">
							<i class="fa fa-times fa-2x"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<input class="col-sm-6" ng-value="result" ng-model="EmployeeCreateCtrl.employee.address" type="text" class="form-control" />
		<div id="map_canvas" ui-map="myMap"
			 style="height:400px;width:1130px;border:2px solid #777777;margin:3px; border:1px solid"
			 ui-options="mapOptions"
			 ui-event="{'map-idle' : 'onMapIdle()' , 'map-dragend' : 'draged()'}"
		>
		</div>
	</div>
</div>










